<h1>Daftar Laporan</h1>

<a href="/add/">Tambah Laporan</a>
<a href="/">Home</a> |
<a href="/about/">About</a> |
<a href="/contacts/">Contact</a>

<hr>

{% for report in reports %}
    <div style="border:1px solid black; padding:10px; margin-bottom:10px;">
        
        <p><b>Judul:</b> {{ report.title }}</p>
        <p><b>Lokasi:</b> {{ report.location }}</p>
        <p><b>Status:</b> {{ report.status }}</p>

        <a href="/update/{{ report.id }}">Edit</a> |
        <a href="/delete/{{ report.id }}">Hapus</a> |

        {% if report.status == "REPORTED" %}
            <a href="/verify/{{ report.id }}"> Verifikasi</a>
        {% else %}
            <span> Sudah Diverifikasi</span>
        {% endif %}

    </div>
{% endfor %}