{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4 fw-bold" style="color:#fb6f92;">
    Contact Us
</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm text-center">

            <p class="fs-5 mb-3">
                📞 Hubungi kami untuk bantuan lebih lanjut
            </p>

            <p>📧 Email: putria@tokyoracity.com</p>
            <p>📱 Telepon: 021-1234-5678</p>
            <p>📍 Alamat: Tokyora City Center</p>

        </div>
    </div>
</div>

{% endblock %}